* {
    padding: 0%;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("img/fundo_resized.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: fixed;
    background-color: rgb(72, 72, 75);
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 2rem;
    align-items: center;
    background: linear-gradient(to bottom, rgb(127, 127, 129), transparent 100%)
}

.container1 {
    display: flex;
    width: 100%;
}

.container1 h1 {
    margin-left: 5%;
    color: blue;
}

.container1 img {
    width: 5%;
}

.header ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 80px;
    font-size: 20px;

}

.header a:hover {
    color: black;
}

.header a {
    text-decoration: none;
    color: aliceblue;
}


.navbar {
    display: flex;
    align-items: center;

}

.navbar .titulo {
    display: flex;
    width: 10%;
    margin-bottom: 50px;

}

.subtitulo {
    display: flex;


}

.subtitulo h3 {
    display: flex;
    color: aliceblue;
    font-size: 30px;
    align-items: center;
}

#vermelhoM {
    color: red;
    font-size: 50px;

}

#azulT {
    color: blue;
    font-size: 50px;
}


.imagemH img {

    width: 100%;
}

.imagemH {
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: end;
}

.textoxpto {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
}

.titulo2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
    height: 20%;
    color: aliceblue;
    font-size: 1.2rem;


}



.pag2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card {
    padding: 3rem;
    width: 40%;
    display: flex;
    border: solid;
    border-color: red;
    border-radius: 40px;
    background-color: #cb343454;
    align-items: center;

}

.card p {
    font-size: 30px;
    color: aliceblue;

}

.pag3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.pag3 div {
    display: flex;
    width: 100%;
    height: 70%;
}

.sobre-mim {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo4 {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 1.2rem;

}

.pag4 {
    margin: 3%;
}



.container .cards {
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 50px;

}

.card-4 {

    background-color: #ababab8e;
    padding: 3rem;
    width: 20%;
    display: flex;

}

.foto {
    color: aliceblue;
    text-align: center;
    transition: 0.5s;

}

.foto:hover {
    background-color: rgba(0, 0, 255, 0.295);
    color: aliceblue;
    padding: 40px;
    cursor: pointer;
}

.foto img {
    height: 250px;
    border-radius: 40px;
}


.container-eu {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 50%;
}

.foto-eu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    background-image: url(img/eu.jpg);
    background-position: center;
    background-size: cover;
}

.texto {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 50%;
    font-size: 1rem;
    line-height: 1.2;
}

.foto-eu2 {
    background-image: url(img/eu2.jpg);
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;

}


.foto-eu3 {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 50%;

}

.foto-eu3 {
    width: 33%;
    height: 100%;
    background-image: url(img/eu4.jpg);
    background-position: center;
    background-size: cover;

}

.texto p {
    text-align: justify;
    padding: 0px;
    margin-top: 45%;
}


.final h3 {

    color: aliceblue;
}

.final {
    display: flex;
    border: solid 2px white;
    border-radius: 20px;
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    /* height: 300px; */
}

.imgfinal {
    display: flex;
    /* width:100%; */
    justify-content: center;
    /* margin-right: 50px; */
}

.imgfinal img {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    /* width: 100%; */
    margin-left: 20%;
    margin-top: 50px;
}

.divisor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Botão de logar*/
.btn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    margin-top: 5%;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* glow */
.btn::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #002BFF, #FF00C8, #002BFF,
            #FF0000, #002BFF, #FF00C8, #002BFF);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}

.textoF {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 1rem;
    width: 500px;
    margin-top: 5%;
   margin-left: 20%;
    
}

.help {
    display: flex;
}

.p-ods {
    margin: 10%;
   
}

.h3{
    width: 600px;
    margin-bottom: 5%;
    margin-left: -4%;
    font-size: 1.5rem;
}

h3 {
    margin-right: 10%;
    margin-left: 10%;
}

/*Igualdade de genero*/

.titulo3 {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.part {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
 
}

.part p {
    color: white;
    font-size: 1rem;
    line-height: 1.2;
    width: 75%;
    display: flex;
    flex-direction: row;
}

/* .part .p {
    margin-top: -5%;
} */


.img2 {
    width: 500px;
    height: 350px;
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.425);
}

.img2:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.img3 {
    width: 300px;
    height: 300px;
    margin-right: 10%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.425);
}

.img3:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

/*melhor golpe*/
.divisao {
    display: flex;
    flex-direction: column;
}

.golpes {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
 
}

.img_chuve {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.425);
}


.golpe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.golpe p {
    color: white;
    font-size: 1rem;
    padding: 10%;
}

.golpesF {
    width: 200px;
}

.tituloF {
    display: flex;
    justify-content: center;
    color: aliceblue;
    display: flex;
    padding: 5%;
    margin-top: 15%;
}

/*coração*/
.animacao {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}

.coracao input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.coracao {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.coracao svg {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    transition: all 0.3s;
    fill: #666;
}

.coracao svg:hover {
    transform: scale(1.1);
}

.coracao input:checked~svg {
    fill: blue;
}


/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    height: 150px;
    margin-top: 5%;
}